*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}
main{
    height: 100vh;
    padding: 10px;
    width: 100%;
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
    padding: 2rem;
    display: flex;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px white;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
    flex-direction: column;
    gap: 1rem;
}
h2{
    font-size: 2.4rem;
    text-transform: uppercase;
}
.reset{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bolder;
}

.game{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}
.card{
    position: relative;
    background-color: cadetblue;
    padding: 5px;
    border-radius: 10px;
    font-size: 2rem;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    transition: all .5s ease-in;
}
.open{
    transform: rotateY(0deg);
}

.card::after{
    border-radius: 10px;
    content: '';
    inset: 0;
    position: absolute;
    background-color: antiquewhite;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.open::after{
    transform: rotateY(180deg);
}
.match::after{
    transform: rotateY(180deg); 
}

@media (max-width : 700px)  {
    main{
        height: fit-content !important;
    }
    .container{
        width: 90%;
    }
    .game{
        width: 100%;
    }
    .card{
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }
}
